<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vocary"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.SplashActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.onboard.OnboardActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.SubscriptionActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.auth.AuthActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary">
            <!--            <intent-filter>-->
            <!--                <action android:name="android.intent.action.MAIN" />-->

            <!--                <category android:name="android.intent.category.LAUNCHER" />-->
            <!--            </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <activity
            android:name=".ui.auth.RegisterActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <activity
            android:name=".ui.onboard.DownloadActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary">

<!--                        <intent-filter>-->
<!--                            <action android:name="android.intent.action.MAIN" />-->

<!--                            <category android:name="android.intent.category.LAUNCHER" />-->
<!--                        </intent-filter>-->

        </activity>

        <activity
            android:name=".ui.onboard.LoadingActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary">
            <!--                        <intent-filter>-->
            <!--                            <action android:name="android.intent.action.MAIN" />-->

            <!--                            <category android:name="android.intent.category.LAUNCHER" />-->
            <!--                        </intent-filter>-->
        </activity>

        <activity
            android:name=".ui.minigame.MiniGameActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <activity
            android:name=".ui.favorite.FavoriteActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <activity
            android:name=".ui.favorite.ListVocabularyActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <activity
            android:name=".ui.history.HistoryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <activity
            android:name=".ui.history.ListHistoryActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <activity
            android:name=".ui.search.SearchVocabularyActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <activity
            android:name=".ui.search.MyOwnWordActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <activity
            android:name=".ui.content.PracticeActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <activity
            android:name=".ui.content.ChangeLevelActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <activity
            android:name=".ui.content.ChangeTopicActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Vocary" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">

            <!-- If you are using androidx.startup to initialize other components -->
            <meta-data
                android:name="androidx.work.WorkManagerInitializer"
                android:value="androidx.startup"
                tools:node="remove" />
        </provider>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


    </application>

</manifest>